PRIVATEKEY=
DEPLOYERADDRESS=

MUMBAIURL=https://polygon-mumbai.g.alchemy.com/v2/KEYPROVIDER
POLYGONURL=https://polygon-mainnet.infura.io/v3/KEYPROVIDER
GNOSISURL=https://rpc.ankr.com/gnosis/KEYPROVIDER

